/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@font-face {
    font-family: 'botw';
    src: url('botw.woff') format('woff');
}

@-webkit-keyframes textGradient {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@-moz-keyframes textGradient {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@keyframes textGradient { 
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
} 

.logoHolder {

    text-align: center;
}

.logo {
    font-size: 18vh;
    font-family: botw;
    display:inline-block;
    margin-bottom: 2vh;

    background: linear-gradient(289deg, #ffc600, #fce23f, #ff9b1d );
    background-size: 200% auto; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: textGradient 5s ease infinite;
    -moz-animation: textGradient 5s ease infinite;
    animation: textGradient 5s ease infinite;
}

.heading {
    font-size: 50px;
}

.headingLeft {
    float: left;
    /* margin-right: 23vw; */
}

.loginBtn {

    float: right;
}

.carousel {
    /* margin-left: 20vw; */
    width: 60vw;
    height: 60vh;
    display: inline-block
}

.carouselHolder {
    text-align: center;
    margin-bottom: 5vh;
}

.carousel-inner .carousel-item img {
    width: 60vw;
    height: 60vh;
    border-radius: 6px;
  }

.listDiv {

    background-color: rgba(0, 0, 0, 0.849);
    border: rgb(24, 24, 24) solid 1px;
    border-radius: 5px;
    padding: 1vw;
}

.listHolder {

    background-color: white;
    padding: 2vw;
    border-radius: 5px;
    height: 27vh;
    color: black;
    margin-bottom: 2vh;
}

.listHolder img {

    width: 5vw;
    height: auto;
    float: left;
    margin-right: 2vw;
}

.listHolder p {
    color: black;
    overflow: auto;
}

.listDescription {

    width: 60vw;
    height: 13vh;
}

.countdownTimer {

    float: right;
    bottom: 15vh;
    color: red;
    font-size: 4vh;
    position: relative;
    right: -1.5vw;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: linear-gradient(289deg, #ffc600, #fce23f, #ff9b1d );
    background-size: 200% auto;
    -webkit-animation: textGradient 5s ease infinite;
    -moz-animation: textGradient 5s ease infinite;
    animation: textGradient 5s ease infinite;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 10px;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px;
    margin-top: 30px;
    font-family: botw;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: black;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 10px;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}