@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.listDiv {

    background-color: rgba(0, 0, 0, 0.849);
    border: rgb(24, 24, 24) solid 1px;
    border-radius: 5px;
    padding: 1vw;
}

.listHolder {

    background-color: white;
    padding: 2vw;
    border-radius: 5px;
    height: 27vh;
    color: black;
    margin-bottom: 2vh;
}

.listHolder img {

    width: 5vw;
    height: auto;
    float: left;
    margin-right: 2vw;
}

.listHolder p {
    color: black;
    overflow: auto;
}

.listDescription {

    width: 60vw;
    height: 13vh;
}

.countdownTimer {

    float: right;
    bottom: 15vh;
    color: red;
    font-size: 4vh;
    position: relative;
    right: -1.5vw;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(0, 0, 0);
}